// /* about.html styling : start */
#about-wrapper{
    padding : 0 5%; 
    min-height: 90vh;
    width: 100%;
}

.about {
    width: 100%;
    margin: 25px auto;
    padding: 20px;
    max-width: 800px;
    font-size: 1.2em;
    line-height: 1.9em;
    box-sizing: border-box;
    .link{
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }
}

.quote {
    margin: 0;
    background: #eee;
    padding: 1em;
    border-radius: 1em;
    color : black;
}

.quote blockquote {
    margin: 1em;
    font-style: italic;
    font-size: 27px;
}

.quote figcaption {
    margin: 1em;
}

// /* about.html styling : end */


