/* footer.html styling : start */

.footer {
    background-color: #1c6e49;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color : white;
    font-size: 2vmax;
}

/* footer.html styling : end */