/* footer.html styling : start */

.footer {
    background-color:#093320;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color : white;
    font-size: 1.5vmax;
    letter-spacing: .05em;    
}

/* footer.html styling : end */