nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color : white;
    font-size: 16px;
    width: 100%;
    padding : 0 20%;
    background-color:$primary-color;
    height: 5vh;
    text-transform: uppercase;
}

.nav-item{
    padding : 5px;
    margin : 5px;
    border-radius: 20px;
}

.nav-item:hover{
    cursor: pointer;
    background : #1c6e49;
    transition : background 1s;
}

@media only screen and (max-width: 768px) {
    nav {
        // background : #000;
    }
}