    <div class="about" id="about">

        <figure class="quote">
            <blockquote>I wish there was a way to get notified or be on wait list at least.</blockquote>
            <figcaption>&mdash; LaGCC Student(s)</figcaption>
        </figure>

        <p>
            &emsp;This is a <strong><em>free</em></strong> and an <strong><em>
            <a href="https://github.com/HamidurRahman1/OpenCC" target="_blank">open source</a></em></strong> web
            application that notifies, via text,
            <a href="https://www.laguardia.edu/home/Default.aspx" target="_blank">LaGuardia Community College</a>
            students when their requested classes become open. Students do not need anything other than a valid US phone
            number to receive text and that is all, nothing else.
                <br>
            &emsp;<strong>On why use OpenCC</strong>, first and most importantly it is free (completely funded by myself,
            cost of database and text messages) and open source. You do not need to pay a single dime to use this
            application (hey, I, myself was a LaGCC student, I know the struggle) and you can look at the source code to
            see if I am actually storing any other information other than your phone number and also check that your
            phone number is not being shared with anyone else beside the notifications purposes. Secondly, you do not
            have to install any application to get notified, you just come over to
            <a href="index.html">OpenCC website</a> and fill out the form to make a request and that is all, you are set.
            And finally, a very convenient way to stop getting text messages, checkout <a href="faqs.html">FAQs</a> on how to.
        </p>
    </div>