    <div class="about fade-in" id="about">

        <figure class="quote">
            <blockquote>I wish there was a way to get notified or be on wait list at least.</blockquote>
            <figcaption>&mdash; LaGCC Student(s)</figcaption>
        </figure>
        <br>
        <p>
            &emsp;This is a <strong>free</strong> and <strong>
            <a href="https://github.com/HamidurRahman1/OpenCC" target="_blank">open source</a></strong> web
            application that notifies <a href="https://www.laguardia.edu/home/Default.aspx" target="_blank">
            LaGuardia Community College</a> students via text message when their requested classes become open.
            Students do not need anything other than a valid US phone number to receive the text message.
        </p>
        <br>
        <p>
            &emsp;<strong>On why use OpenCC</strong>, first and most importantly it is free (completely funded by myself,
            cost of database and text messages), open source (hey, I, myself was a LaGCC student, I know the struggle)
            and you can look at the source code to see if I am storing information other than your phone number, also check that your
            phone number is not being shared with anyone else beside for notification purposes. Secondly, you do not
            have to install any application to get notified, you can just visit
            <span class="link" value = "home-wrapper" id="home-trigger">OpenCC website</span>
            and fill out the form to make a request. Finally, a convenient way to stop getting text messages,
            checkout <span class="link" value = "faqs-wrapper" id="faqs-trigger">FAQs</span> on how to.
        </p>
    </div>