<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="icon" href="https://iconarchive.com/download/i79674/martz90/hex/messages-2.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>
</head>
<body>

{% include "header.html" %}

<div class="contact-container">
    <div class="right-col">
        <h1>Contact Me</h1>
        <p>Whether you have a question, facing a problem or simply just want to connect then feel free to send me a message in the contact form.</p>

        <form id="contact-form" method="post">
            <label for="name">Full name</label>
            <input type="text" id="name" name="name" placeholder="your full name" required>
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" placeholder="your email address" required>
            <label for="message">Message</label>
            <textarea rows="6" placeholder="your message" id="message" name="message" required></textarea>
            <button type="submit" id="submit" name="submit">Send</button>
        </form>
    </div>
</div>

{% include "footer.html" %}

</body>
</html>