<div class="devs">
    <div class="dev-1">
        <figure>
            <img src="../static/img/paul.jpeg" alt="">
            <figcaption>
                <h2>Paul Alarcon</h2>
                <p>Front End Dev</p>
                <div class="links">
                    <div>
                        <img src="../static/img/white-github.png" alt="">
                    </div>
                    <div>
                        <img src="../static/img/LI-In-Bug.png" alt="">
                    </div>
                    <div>
                        <img src="../static/img/gmail.png" alt="">
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="dev-2">
        <figure>
            <img src="../static/img/hamid.jpeg" alt="">
            <figcaption>
                <h2>Hamidur Rahman</h2>
                <p>Back End Dev</p>
                <div class="links">
                    <div>
                        <img src="../static/img/white-github.png" alt="">
                    </div>
                    <div>
                        <img src="../static/img/LI-In-Bug.png" alt="">
                    </div>
                    <div>
                        <img src="../static/img/gmail.png" alt="">
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
</div>