<div class="devs fade-in">
    <div class="dev-1">
        <figure>
            <img class="prof-pic" src="../static/img/paul.jpeg" alt="">
            <figcaption>
                <h1>Paul Alarcon</h1>
                <h2>Front End Dev</h2>
                <div class="links">
                    <div>
                        <a href="https://github.com/PaulAlarcon"> <img src="../static/img/gh.png" alt=""></a>

                    </div>
                    <div>
                        <a href="https://www.linkedin.com/in/paul-alarcon-b29731148/"><img src="../static/img/li.png" alt=""></a>
                    </div>
                    <div>
                        <a href="http://paulalarcon.me/"> <img src="../static/img/ws.png" alt=""></a>
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="dev-2">
        <figure>
            <img src="../static/img/hamid.jpeg" alt="">
            <figcaption>
                <h1>Hamidur Rahman</h1>
                <h2>Back End Dev</h2>
                <div class="links">
                    <div>
                        <a href="https://github.com/HamidurRahman1"> <img src="../static/img/gh.png" alt=""></a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/in/hamidurrahman1/"><img src="../static/img/li.png" alt=""></a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/_http_417/"> <img src="../static/img/ig.png" alt=""></a>
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
</div>