<div class="devs fade-in">
    <div class="dev-1">
        <figure>
            <div class="img-wrapper">
            <img src="../static/img/paul.jpeg" alt="">
            </div>
            <figcaption>
                <h1>Paul Alarcon</h1>
                <h2>Front End Dev</h2>
                <div class="links">
                    <div>
                        <img src="../static/img/white-github.png" alt="">
                    </div>
                    <div>
                        <img src="../static/img/LI-In-Bug.png" alt="">
                    </div>
                    <div>
                        <img src="../static/img/gmail.png" alt="">
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="dev-2">
        <figure>
            <div class="img-wrapper">
                <img src="../static/img/hamid.jpeg" alt="">
            </div>
            <figcaption>
                <h1>Hamidur Rahman</h1>
                <h2>Back End Dev</h2>
                <div class="links">
                    <div>
                        <img src="../static/img/white-github.png" alt="">
                    </div>
                    <div>
                        <img src="../static/img/LI-In-Bug.png" alt="">
                    </div>
                    <div>
                        <img src="../static/img/gmail.png" alt="">
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
</div>