<div class="faqs-outer fade-in">
    <h1 class="faqs-title">Frequently Asked Questions</h1>
    <dl class="accordion">
        <dt>
            <button class="accordion__button" aria-expanded="true" aria-controls="accordion-resources">Q: How can I add a class to get notified when it is open?
            </button>
        </dt>
        <dd class="accordion__content" id="accordion-resources" aria-hidden="false">
            <div>&emsp;Navigate to the <span class="link" value = "home-wrapper" id="home-trigger">OpenCC</span> application and just fill out the form with the correct information.</div>
        </dd>

        <dt>
            <button class="accordion__button" aria-expanded="true" aria-controls="accordion-request-info">Q: How many requests can I make?</button>
        </dt>
        <dd class="accordion__content" id="accordion-request-info" aria-hidden="false">
            <div>
                &emsp;You can make any number of requests as long as you have not already made the same request. Please do not make unnecessary requests
                as it will delay the search, notifications you are expecting and potentially delay others to get notified.
            </div>
        </dd>

        <dt>
            <button class="accordion__button" aria-expanded="true" aria-controls="accordion-request-info2">Q: Why some courses are not listed in course selection?</button>
        </dt>

        <dd class="accordion__content" id="accordion-request-info2" aria-hidden="false">
            <div>
                &emsp;As of now only the classes that are related to `Candidacy` (OTA, PTA, NURSING, RED TECH etc) are not supported. These classes are assigned by the
                department so even if a section is open you can't get in since you would permission from the department. If the application is still missing other classes except
                the ones mentioned above then please drop a message to     <span class="link" value = "devs-wrapper" id="devs-trigger">Hamidur Rahman</span>
                .
            </div>
        </dd>

        <dt>
            <button class="accordion__button" aria-expanded="true" aria-controls="accordion-markup">Q: How do I stop receiving text messages for a requested class?</button>
        </dt>

        <dd class="accordion__content" id="accordion-markup" aria-hidden="false">
            <div>&emsp;You can do one of the following to stop getting text messages. Regardless of the choice you make, a text will be sent saying that your requested class(es) have been deleted. If you do not get a text message that means you did not have a request to be deleted.
                <ol>
                    <li>
                        <h3>Completely Stop Getting Text Messages:</h3>
                        &emsp;You can simply reply to the message saying: <strong><em>cancel all</em></strong>. You <strong>CAN NOT</strong> write anything else before or after <strong><em>cancel all</em></strong>. It doesn't matter if the text <strong><em>cancel all</em></strong> is upper case or not as long as the replied message only contains <strong><em>cancel all</em></strong> (i.e you can still add classes and get notified even if you take this approach.)
                    </li>
                    <li>
                        <h3><strong>Stop Getting Text Messages for Only One Class:</strong></h3>
                        &emsp;You can simply reply to the message saying: <strong><em>cancel [5-digit-class-number]</em></strong>. ex. <strong><em>cancel 45678</em></strong>. You can find the classes you requested in the chat. You <strong>CAN NOT</strong> write anything else before or after <strong><em>cancel [5-digit-class-number]</em></strong>. It does not matter if the text <strong><em>cancel [5-digit-class-number]</em></strong> is upper case or not.
                        <br>
                        &emsp;This is a convenient way to stop getting notifications as it allows you to stop getting notified for a class that you have found a seat for, if you decided you will not take this class, or if you decide to get notifications for the same course but a different section (i.e you can still add classes and get notified even if you take this approach.)
                    </li>
                </ol>
            </div>
        </dd>

        <dt>
            <button class="accordion__button" aria-expanded="true" aria-controls="accordion-behavior">Q: How does this application work in regards to checking if a class is closed?</button>
        </dt>
        <dd class="accordion__content" id="accordion-behavior" aria-hidden="false">
            <div>&emsp;This application has a scheduler which runs every 2.5 minutes. The scheduler gets all the entered requests and creates threads to search each class. If any of the classes are open then those who have made the request for this class will get notified right away in a couple of seconds. Keep in mind that if CUNYfirst is down due to maintenance then the application will not be able to search requested class(es) until it is back online. If a class becomes open right before CUNYfirt goes under maintenance, no one will be able to get that class until CUNYfirst is back online. Since the scheduler runs every 2.5 minutes, you still will have a high chance of getting this class if CUNYfirst is back online after maintenance.</div>
        </dd>
    </dl>
</div>


<script src="/static/script/main.js"></script>
