<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="icon" href="https://iconarchive.com/download/i79674/martz90/hex/messages-2.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>
</head>
<body>
    <footer class="footer">
    <div class="footer-all">
        <p class="footer-social">
            <a href="https://github.com/HamidurRahman1" target="_blank" class="fa fa-github"></a>
            <a href="https://www.linkedin.com/in/hamidurrahman1/" target="_blank" class="fa fa-linkedin"></a>
            <a href="https://www.instagram.com/_http_417/" target="_blank" class="fa fa-instagram"></a>
        </p>
        <p>
            <a href="https://github.com/HamidurRahman1/OpenCC/blob/main/LICENSE" class="license-link" target="_blank">
                OpenCC: Copyright © 2020 - Hamidur Rahman</a>
        </p>
    </div>
</footer>
</body>
</html>