<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <script src="../static/script/main.js" charset="utf-8" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>
</head>
<body>

    <header id="header">
        <div>
            <nav>
                <a href="http://127.0.0.1:5000/" target="_self">Home</a>
                <a href="http://127.0.0.1:5000/about.html" target="_self">About</a>
                <a href="http://127.0.0.1:5000/FAQs.html" target="_self">FAQs</a>
            </nav>
        </div>
    </header>

</body>
</html>