<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="icon" href="https://iconarchive.com/download/i79674/martz90/hex/messages-2.ico" type="image/x-icon">
    <script src="../static/script/main.js" charset="utf-8" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>
</head>
<body>

<nav>
    <ul>
        <li><a href="http://127.0.0.1:5000/" target="_self">Home</a></li>
        <li><a href="http://127.0.0.1:5000/about.html" target="_self">About</a></li>
        <li><a href="http://127.0.0.1:5000/FAQs.html" target="_self">FAQs</a></li>
    </ul>
</nav>

<header>
    <div class="header-outer">
        <div class="header-content">
            <h1>OpenCC</h1>
            <p>A free open source application that notifies <a href="https://www.laguardia.edu/home/Default.aspx" target="_blank">LaGCC</a> student via text messages when their requested class(es) become open.</p>
        </div>
    </div>
</header>

</body>
</html>