<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="../static/css/style.css" type="text/css">
  <link rel="icon" href="https://iconarchive.com/download/i79674/martz90/hex/messages-2.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{title}}</title>
</head>
<body>


{% include "header.html" %}

<div id="main-view">
  <div id="request-wrapper">
    {% include "request.html" %}
  </div>
  
  <div id="faqs-wrapper" style="display: none">
    {% include "faqs.html" %}
  </div>
  
  <div id="about-wrapper" style="display: none">
    {% include "about.html" %}
  </div>
</div>

<script>
      let sections = ["request-wrapper", "faqs-wrapper", "about-wrapper" ];
      let sectionsDiv = [];
      sections.forEach( id => sectionsDiv.push(document.querySelector(`#${id}`)));

      const changeSection = id => {
        sectionsDiv.forEach( s => {
          s.style.display = id == s.id ? 'block' : 'none';
        })
      }

      const addListenerToSpan = id => {
        let div = document.querySelector(`#${id}`);
        div.onclick = () => {changeSection(div.getAttribute('value'))};
      }

      addListenerToSpan('request-trigger');
      addListenerToSpan('about-trigger');
      addListenerToSpan('faqs-trigger');

</script>


{% include "footer.html" %}



</body>
</html>