<div class="modal fade-in" id="terms-conditions-modal">
  <div class="modal-wrapper">
    <div id="modal-inner">
      <h2 class="terms-title">Agreement and Conditions</h2>
      <div class="content">
        <p>
          Use it at your own risk.
        </p>
        <button class="terms-btn modal-close-btn" target="terms-conditions-modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade-in" id="sucess-modal">
  <div class="modal-wrapper">
    <div id="modal-inner">
      <h2 class="success-title">Success!</h2>
      <div class="content">
        <p>
      
        </p>
        <button class="success-btn modal-close-btn" target="sucess-modal">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade-in" id="error-modal">
  <div class="modal-wrapper">
    <div id="modal-inner">
      <h2 class="error-title">Error!</h2>
      <div class="content">
        <p>
         
        </p>
        <button class="error-btn modal-close-btn" target="error-modal">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<script type="module" src="../static/script/modal.js"></script>
