<nav>
    <div class="nav-shrinked">
        <div class="nav-logo link" value = "home-wrapper" id="home-trigger">OpenCC</div>
        <div class="nav-burger"><i class="fa fa-bars"></i></div>
    </div>
    <div class="nav-links">
        <span class="nav-item link" value = "home-wrapper" id="home-trigger">Home</span>
        <span class="nav-item link" value = "request-wrapper" id="request-trigger">Request</span>
        <span class="nav-item link" value = "about-wrapper" id="about-trigger">About</span>
        <span class="nav-item link" value = "devs-wrapper" id="devs-trigger">Devs</span>
        <span class="nav-item link" value = "faqs-wrapper" id="faqs-trigger">FAQs</span>
    </div>
</nav>

<script src="../static//script/navbar.js"></script>


