<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="icon" href="https://iconarchive.com/download/i79674/martz90/hex/messages-2.ico" type="image/x-icon">
    <script src="../static/script/main.js" charset="utf-8" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>
</head>
<body>

    <div>
        <div class="response">
            <div class="request-successful">
                {% if success %}
                <div>{{message}}</div>
                {% endif %}
            </div>
            <div class="request-error">
                {% if error %}
                <div>{{message}}</div>
                {% endif %}
            </div>
        </div>

        <div class="add-request">
            <form method="post" action="https://opencc1.herokuapp.com/" id="add-request" name="add-request">

                <label for="phone-number">Enter your phone number (ex: 123456789): </label>
                <input type="tel" id="phone-number" name="phone-number" pattern="[1-9]{3}[0-9]{3}[0-9]{4}" placeholder="123456789">
                <br>
                <br>

                <label for="term">Select Term: </label>
                <select id="term" name="term" required>
                    {% for key in terms %}
                    <option value="{{ key }},{{ terms.get(key) }}">{{key}}</option>
                    {% endfor %}
                </select>
                <br>
                <br>

                <label for="subject">Select Course: </label>
                <select name="subject" id="subject" required>
                    {% for sub_code in subs %}
                    {% for sub in subs.get(sub_code) %}
                    <option value="{{ sub_code }},{{sub}}">{{sub}}</option>
                    {% endfor %}
                    {% endfor %}
                </select>
                <br>
                <br>

                <label for="class-num-5">5 digit class number: </label>
                <input type="text" id="class-num-5" name="class-num-5" maxlength="5" minlength="5" size="5" required pattern="\d{5}"><br><br>

                <input type="submit" value="Add Request">
            </form>
        </div>
    </div>

</body>
</html>