<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <p>-----> Add Request start</p>
    <div class="add-request">
        <form method="post" action="http://127.0.0.1:5000/add/request" id="add-request" name="add-request">

            <label for="phone-number">Enter your phone number:</label><br>
            <input type="tel" id="phone-number" name="phone-number" placeholder="12345678">
            <!--              pattern="[0-9]{3}[0-9]{3}[0-9]{4}"-->
            <small>Format: 12345678</small>
            <br>
            <br>

            <strong>Term:</strong>
            <select id="term" name="term">
                {% for key in terms %}
                <option value="{{ terms.get(key) }}">{{key}}</option>
                {% endfor %}
            </select>
            <br>
            <br>

            <strong>Subject:</strong>
            <select id="subject">
                {% for sub_code in subs %}
                {% for sub in subs.get(sub_code) %}
                <option value="{{ sub_code }}">{{sub}}</option>
                {% endfor %}
                {% endfor %}
            </select>
            <br>
            <br>

            <input type="submit" value="Add Request">
        </form>
    </div>
    <p>-----> Add Request end</p>
</div>

</body>
</html>