<div class="outer-request-form fade-in">
  <div class="request-form-title">Add Request to Get Notified</div>
  <div class="request-form">
    <form
      method="post"
      action="http://127.0.0.1:5000/"
      id="add-request"
      name="add-request"
    >
      <div class="form-element">
        <label for="phone-number">Phone Number (ex: 1234567890)</label>
        <input
          type="tel"
          id="phone-number"
          name="phone-number"
          pattern="[1-9]{3}[0-9]{3}[0-9]{4}"
          placeholder="1234567890"
          maxlength="10"
          minlength="10"
          size="10"
          required
        />
      </div>

      <div class="form-element">
        <label for="term">Select Term</label>
        <select id="term" name="term" required>
          {% for key in terms %}
          <option value="{{ key }},{{ terms.get(key) }}">{{key}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-element">
        <label for="subject">Select Course</label>
        <select name="subject" id="subject" required>
          {% for sub_code in subs %} {% for sub in subs.get(sub_code) %}
          <option value="{{ sub_code }},{{sub}}">{{sub}}</option>
          {% endfor %} {% endfor %}
        </select>
      </div>

      <div class="form-element"></div>

      <div class="form-element">
        <label for="class-num-5">5-Digit Class Number</label>
        <input
          type="text"
          id="class-num-5"
          name="class-num-5"
          maxlength="5"
          minlength="5"
          size="5"
          pattern="\d{5}"
          required
        /><br /><br />
      </div>

      <div class="form-element">
        <input type="checkbox" id="agreed" name="agreed" required/>
        <label for="agreed"
          >I have read and accept the
          <span class="modal-trigger" target = "terms-conditions-modal"  id="terms-and-conditions">terms of conditions and agreement</span>.</label
        >
      </div>

      <input type="submit" value="Add Request" class="submit-request" />
    </form>
  </div>
</div>
